.header li{
  list-style:none;
  float:left;
}
.header{
  background-color:#ff6699;
  height:120px;
}
.header-logo{
  color: #009933;
  float:left;
  font-size: 34px;
  padding:20px 40px;
}
.header-list{
  float:left;

}
.header-list li{
  text-align: left;
  padding:30px 20px;
}
.main{
  height: 1200px;
}
.section-title{
  border:5px solid #00cc00;
  background-color: #3366FF;
  color:#fff;
}
.contents{
  font-size: 32px;
}
.footer{
  background-color: #00cc00;
  color:#fff;
  height:110px;
  padding: 40px;
}
.footer-logo{
  font-size:32px;
  float:left;
}
.footer-list{
  float:right;
}
.footer-list li{
  padding-bottom: 20px;
  list-style:none;
}
